.qr-reader-wrapper {
    width: 100%;
}


.modal-wrapper .first {
    margin-bottom: 0;
}

.modal-wrapper .info {
    font-size: 1.2rem;
    color: black;
    padding-top: 20px;
    opacity: 1;
    font-weight: 600;
    white-space: normal;
}